*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.html{
    background-color: #d3d3d3;
    font-size: 1em;
    font-family:Arial, Helvetica, sans-serif;
}

/* Header styling */
.header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
}

.inner_header{
    width: 1000px;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: 200;
}

.logo_container h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 1em;
}





/* index.html styling */
.main_body{
    width: 100%;
    display: block;
    float: left;
}

.main_body img{
    height: 300px;
    width: 225px;
}

.main_body li{
    display: inline-block;
    margin-right: 10px;
}





/* game.html styling */
.game_info {
    width: 100%;
    height: 100%;
    padding: 25px 25px 5px 25px;
    display: flex;
}

.cover_art {
    width: 17%;
    display: grid;
    float: left;
}

.cover_art img {
    height: 400px;
    width: 300px;
}

.rating {
    display: grid;
    width: 55%;
    height: 100%;
}

.rating h1 {
    font-size: 3.5em;
}

#logo {
    font-family: 'Montserrat';
    font-size: 2em;
    font-weight: 200;
}

#logo span {
    font-weight: 800;
}

.rating h2 {
    font-size: 2em;
    padding-bottom: 20px;
}

#tr {
    font-size: 2em;
}

.platforms li {
    display: inline-block;
    padding-right: 5px;
}

.new_release {
    width: 15%;
    height: 100%;
    display: grid;
    float: right;
}

.new_release h2 {
    font-size: 2em;
}

.new_release li {
    font-size: 1.5em;
    padding-bottom: 6px;
    padding-top: 6px;
    border-bottom: 1px solid gray;
}

.new_release li img {
    height: 25px;
    width: 25px;
}

#truerating {
    font-weight: bolder;
}

#mushroom {
    height: 50px;
    width: 50px;
}

#xbox_logo {
    height: 50px;
    width: 50px;
}

#ps_logo {
    height: 50px;
    width: 50px;
}

#switch_logo {
    height: 50px;
    width: 50px;
}

#pc_logo {
    height: 50px;
    width: 50px;
}

.additional_info {
    padding-left: 25px;
    height: 125px;
}

.release_info {
    width: 40%;
    float: left;
    font-size: 1.25em;
}

.release_info h2 span {
    font-weight: 175;
}

.purchase_links {
    width: 60%;
    height: 100%;
    float: right;
    padding-top: 58px;
}

.purchase_links li {
    display: inline-block;
    padding-right: 5px;
}

#xbox_btn {
    background-color: #0e7a0d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

#playstation_btn {
    background-color: #006FCD;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

#switch_btn {
    background-color: #e4000f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

#steam_btn {
    background-color: #2a475e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

.link_section {
    width: 100%;
    padding-left: 25px;
    display: flex;
}

.link_section h2 {
    font-size: 2em;
}

.link_section li {
    font-size: 1.5em;
    width: 70%;
    padding-bottom: 6px;
    padding-top: 6px;
    border-bottom: 1px solid gray;
}

.link_section li img {
    height: 25px;
    width: 25px;
}

.popular_titles {
    width: 33%;
    display: grid;
    float: left;
}

.similar_titles {
    width: 33%;
    display: grid;
}

.publisher_titles {
    width: 33%;
    display: grid;
    float: right;
}

.comments {
    padding-top: 25px;
    padding-left: 25px;
}

.comments h2 {
    font-size: 2em;
}





/* titleslist.html styling */
.consoles {
    padding-top: 25px;
    text-align: center;
}

.consoles li {
    display: inline-block;
    padding-right: 35px;
    
}

#xbox {
    background-color: #0e7a0d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

#playstation {
    background-color: #006FCD;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

#switch {
    background-color: #e4000f;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

#pc {
    background-color: #2a475e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

#all {
    background-color: darkgrey;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 1em;
}

.letter {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
}

.letter li{
    display: inline-block;
    padding-right: 15px;
    font-size: 1.75em;
}

.games_list {
    padding-top: 30px;
    text-align: center;
    display: flex;
    border-top: 2px solid black;
}

.games_list li {
    font-size: 1.5em;
    width: 70%;
    padding-bottom: 6px;
    padding-top: 6px;
    border-bottom: 1px solid gray;
}

.column1 {
    width: 25%;
    float: left;
}

.column2 {
    width: 25%;
    margin: 0 auto;
}

.column3 {
    width: 25%;
    float: 0 auto;
}

.column4 {
    width: 25%;
    float: right;
}





/* ratingsscale.html styling */
.explanation {
    padding-top: 25px;
    text-align: center;
}

.explanation p {
    font-size: 1.5em;
    padding: 15px 200px 10px;
}

.explanation h1 {
    font-size: 3em;
}

.explanation h2 {
    font-size: 2em;
}

.explanation img {
    height: 200px;
    width: 200px;
}





/* login.html styling */
.login_holder {
    width: 100%;
    height: 75%;
    padding-top: 40px;
    display: grid;
    justify-items: center;
    align-items: center;
}

#login_error_msg_holder {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    align-items: center;
}

#login_error_msg {
    width: 23%;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: bold;
    color: #8a0000;
    background-color: #e58f8f;
    opacity: 0;
}

#error_msg_second_line {
    display: block;
}

#login_form {
    align-self: flex-start;
    display: grid;
    justify-items: center;
    align-items: center;
}

.login_form_field::placeholder {
    color: #3a3a3a;
}

.login_form_field {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
    padding: 0px 0px 5px 5px;
}

#login_form_submit {
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: #3a3a3a;
    cursor: pointer;
    outline: none;
}