{% extends 'base.html' %}
{% block title %}
{% endblock %}
{% block content %}
<div class="game_info">
  <div class="cover_art">
    <img src="images/starfield.jpg">
  </div>
  <div class="rating">
    <h1>Starfield</h1>
    <h2 id="logo">TRUE<span>REVIEW</span><span id="colon">:</span> <img id="mushroom" src="images/1up.png"><span id="tr">8.5/10</span></h2>
    <h2>Player Rating: <span>8/10</span></h2>
    <h2>Critics Rating: <span>9/10</span></h2>
    
    <ul class="platforms">
      <h2>Platforms: </h2>
      <li><img id="xbox_logo" src="images/xbox.jpg"></li>
      <li><img id="ps_logo" src="images/playstation.jpg"></li>
      <li><img id="switch_logo" src="images/switch.png"></li>
      <li><img id="pc_logo" src="images/pc.jpg"></li>
    </ul>
  </div>
  <div class="new_release">
    <h2>New Releases</h2>
    <ul>
      <!--I would like the image to be the mushroom associated with each games truerating score, and the span will contain it rating-->
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 1</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 2</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 3</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 4</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 5</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 6</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 7</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 8</li>
    </ul>
  </div>
  
</div>
<div class="additional_info">
  <div class="release_info">
    <h2>Release Date: <span>9/6/2023</span></h2>
    <h2>Publisher: <span>Bethesda Softworks</span></h2>
    <h2>Development Studio: <span>Bethesda Game Studios</span></h2>
  </div>
  <div class="purchase_links">
    <ul>
      <li><button id="xbox_btn">Buy on Xbox</button></li>
      <li><button id="playstation_btn">Buy on Playstation</button></li>
      <li><button id="switch_btn">Buy on Switch</button></li>
      <li><button id="steam_btn">Buy on Steam</li>
      </div>
    </ul>
  </div>
</div>
<div class="link_section">
  <!--I would like to have the mushroom image and rating on each of these games too-->
  <div class="popular_titles">
    <h2>Popular Titles</h2>
    <ul>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 1</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 2</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 3</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 4</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 5</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 6</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 7</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 8</li>
    </ul>
  </div>
  <div class="similar_titles">
    <h2>Similar Titles</h2>
    <ul>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 1</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 2</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 3</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 4</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 5</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 6</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 7</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 8</li>
    </ul>
  </div>
  <div class="publisher_titles">
    <h2>Publishers Other Titles</h2>
    <ul>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 1</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 2</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 3</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 4</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 5</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 6</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 7</li>
      <li><img src="images/gold.png"><span id="truerating"> 95 </span>Game 8</li>
    </ul>
  </div>
</div>
<div class="comments">
  <h2>User Reviews</h2>
  <!--Text box and submit button for comments here-->
</div>
{% endblock %}